.page{
    text-align: center;
    background: rgba(96, 96, 96, 0.5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    .btn{
        display: inline-block;
    }
}